---
title: Nirmal Gore
call_to_action: Blogs
background_image_path:
large_header: true
testimonials:
  - message: We use Justice Law in all our endeavours. They offer an unparalleled service when it comes to running a business.
    image: "https://placekitten.com/g/60/60?a=.png"
    name: Joice Carmold
  - message: Justice Law are the best of the best. Being local, they care about people and have strong ties to the community.
    image: "https://www.fillmurray.com/60/60?a=.png"
    name: Peter Rottenburg
  - message: Justice Law were everything we could have hoped for when buying our first home. Highly recommended to all.
    image: "https://placebear.com/60/60?a=.png"
    name: D. and G. Gibbleston
_options:
  image:
    width: 60
    height: 60
---
<div class="editable">
	
	<p>I am very passionate about two ideas. The ideas that are trying to solve today's problems and the ideas that are trying to shape our future.</p>
	</p>Today's world is faced with a plethora of problems like hunger, climate change, income inequality and many more. Many people are trying to find solutions to these problems. I believe as a citizen of this planet it is my duty to do something about these issues.
	so, finding solutions to the problems of today while creating a future devoid of these problems is what is required today. And new-age technologies like artificial intelligence, machine learning, hyperloop and others are shaping humanity's future. 
	
	These are my areas of interest where I would like to work.</p>   

</div>

<!-- <div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div> -->
