---
title:
call_to_action: Contact
background_image_path:
large_header: true
<div class="editable">
	<p>There are two ideas that fascinate me the most. Our world today is faced with plethora of problems. The pressing ones are inequality, hunger, climate change and many more. So, I am trying to do my bit to solve these problems. This is the first idea. </p>
		
	</p>The second one aboubt creating the future. The idea of _Industrial Revolution 4.0_ is about the way technologies, like artificial engineering, machine learning and others, are going to create a disruption in the way human beings live in this world. I am very passionate about ideas and projects that work to create a better future for the mankind.</p>   

</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
